# IntelliJ IDEA
.idea/
*.iml
shelf/
workspace.xml
mavenHomeManager.xml

# Maven
/target/

# Logs y reportes
*.log
karate-reports/
surefire-reports/

# Archivos temporales del sistema
.DS_Store
Thumbs.db

# Configuración específica de usuario
*.swp
*.bak
*.tmp

# Eclipse (por si alguien lo abre ahí)
.classpath
.project
.settings/

# VSCode (por si alguien usa este editor)
.vscode/